.hero-section {
  margin-block-start: 124px;
  padding: 196px 0;

  @include mq-max("xxl") {
    padding: 124px 0;
  }

  @include mq-max("xl") {
    margin-block-start: 96px;
  }

  .section-headline {
    text-align: left;
    margin-block-end: 128px;

    @include mq-max("xxl") {
      margin-block-end: 96px;
    }

    &__title {
      // see 'h1, h2' in _globals.scss
      display: flex;
      flex-direction: column;

      @include mq-max("md") {
        margin-block-end: 12px;
      }

      span {
        &:last-of-type {
          padding-inline-start: 240px;

          @include mq-max("xxl") {
            padding-inline-start: 200px;
          }

          @include mq-max("xl") {
            padding-inline-start: 160px;
          }

          @include mq-max("md") {
            padding-inline-start: 0;
          }
        }
      }
    }

    p {
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 148%;
      display: inline-block;
      color: $white;
      translate: 0 -64px;

      @include mq-max("xl") {
        font-size: 12px;
        translate: 0 -48px;
      }

      @include mq-max("md") {
        translate: 0 0;
        line-height: 112%;
      }
    }
  }

  .cta-wrapper {
    margin-inline-start: 112px;

    @include mq-max("xl") {
      margin-inline-start: 96px;
    }

    @include mq-max("md") {
      margin-inline-start: 0;
    }
  }
}

.work-section {
  scroll-margin-block-start: -96px;

  @include mq-max("xxl") {
    scroll-margin-block-start: -24px;
  }

  span[data-title] {
    color: $work-title-color;
    display: inline-flex;
    width: 3.2em;
  }

  .work-showcase {
    @include row-center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 96px auto;
    width: 80%;

    &:hover,
    &:focus-within {
      @include mq-mouse {
        .showcase-link {
          opacity: 0.5;
        }
      }
    }

    @media all {
      @include mq-max("xxl") {
        margin: 64px auto;
        width: 92%;
      }

      @include mq-max("md") {
        width: 100%;
        gap: 48px;
      }
    }

    .showcase-link {
      width: 48%;
      transition: 0.3s ease;
      opacity: 0.9;

      &:hover,
      &:focus-visible {
        opacity: 1;

        .showcase-item {
          &::before,
          &::after {
            opacity: 1;
          }

          &::after {
            translate: 0 0;
            filter: blur(0);
            transition: 0.4s ease;
          }
        }
      }

      @include mq-touch {
        opacity: 1;
      }

      @include mq-max("md") {
        width: 100%;
      }

      &[aria-disabled="true"] {
        cursor: not-allowed;

        .showcase-item {
          &::after {
            content: "Coming Soon";
          }
        }
      }

      &[href="https://essentialism.netlify.app"]
      {
        .showcase-item {
          &::after {
            content: "View Progress";
          }
        }
      }

      .showcase-item {
        position: relative;
        aspect-ratio: 3 / 2;

        &::before,
        &::after {
          @include row-center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          aspect-ratio: 3 / 2;
          opacity: 0;
          transition: 0.3s ease;
        }

        &::before {
          content: "";
          background: rgba($black, 0.95);
        }
        &::after {
          content: "Visit Site";
          color: $white;
          font-size: 24px;
          font-weight: 700;
          text-transform: uppercase;
          translate: 0 24px;
          filter: blur(4px);

          @include mq-max("xl") {
            font-size: 16px;
          }

          @include mq-max("md") {
            font-size: 24px;
          }

          @include mq-max("sm") {
            font-size: 16px;
          }
        }

        .showcase-caption {
          margin-block-start: 8px;
          font-size: 18px;

          @include mq-max("xxl") {
            font-size: 16px;
          }

          @include mq-max("xl") {
            font-size: 14px;
          }

          @include mq-max("lg") {
            font-size: 12px;
          }

          @include mq-max("md") {
            font-size: 16px;
          }

          @include mq-max("sm") {
            font-size: 14px;
          }
        }
      }

      &:nth-of-type(1),
      &:nth-of-type(4) {
        .showcase-item {
          img {
            background: #181818;
          }
        }
      }
    }
  }

  .made-with-care {
    @include row-center;
    font-size: 14px;

    .heart-svg {
      margin-inline-start: 4px;
      margin-block-end: -1px;
    }
  }
}

.statement-section {
  @include row-center;
  text-align: center;
  height: 80vh;

  @media all {
    @include mq-max("xxl") {
      height: 64vh;
    }

    @include mq-max("xl") {
      height: unset;
      padding: 264px 0;
    }

    @include mq-max("sm") {
      padding: 180px 0;
    }
  }

  .mission-statement {
    font-size: 48px;

    @media all {
      @include mq-max("xxl") {
        font-size: 36px;
      }

      @include mq-max("xl") {
        font-size: 32px;
      }

      @include mq-max("lg") {
        font-size: 24px;
      }

      @include mq-max("md") {
        font-size: 5.4vw;
      }

      @include mq-max("sm") {
        font-size: 5vw;
      }
    }

    @include mq-mouse {
      &:hover {
        .text {
          opacity: 0.4 !important;
          transition: 0.3s ease !important;
        }

        .statement-websites,
        .statement-a11y,
        .statement-seo {
          transition: 0.3s ease !important;

          &:hover {
            opacity: 1 !important;
          }
        }
      }
    }

    .text {
      opacity: 0.1;
      filter: blur($blur);
      transition: 0.6s ease;
    }

    &.animate {
      .text {
        opacity: 1;
        filter: blur(0);

        @for $i from 2 through 16 {
          &:nth-child(#{$i}) {
            transition-delay: 0.048s * ($i - 1);
          }
        }
      }
    }
  }
}

.benefits-section {
  margin-inline-start: 128px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media all {
    @include mq-max("xxl") {
      margin-inline-start: 0;
    }

    @include mq-max("lg") {
      flex-direction: column;
      align-items: center;
      position: relative;
    }
  }

  span[data-title] {
    color: $benefits-title-color;
    display: block;
    width: 5em;
  }

  .headline-full {
    position: sticky;
    top: 33%;
    width: 50%;

    @media all {
      @include mq-max("lg") {
        position: static;
        width: 92%;
      }

      @include mq-max("sm") {
        width: 100%;
      }
    }

    .section-headline {
      text-align: left;
    }

    .cta-wrapper {
      margin-inline-start: 64px;

      @include mq-max("xl") {
        margin-inline-start: 0;
      }
    }
  }

  .benefit-list {
    display: flex;
    flex-direction: column;
    gap: 128px;
    width: 54%;
    padding: 128px 0;

    @media all {
      @include mq-max("xxl") {
        width: 50%;
      }

      @include mq-max("xl") {
        padding: 64px 0 96px;
      }

      @include mq-max("lg") {
        width: 92%;
      }

      @include mq-max("md") {
        gap: 96px;
      }

      @include mq-max("sm") {
        width: 100%;
        gap: 64px;
      }
    }

    .benefit-block {
      width: 100%;
      max-width: 672px;
      opacity: 0.1;
      filter: blur($blur);
      transition: 0.6s ease;

      h3 {
        font-size: 48px;
        font-weight: 200;
        margin-block-end: 24px;
        display: flex;
        align-items: center;
        gap: 24px;

        @media all {
          @include mq-max("xxl") {
            font-size: 36px;
            margin-block-end: 12px;
          }

          @include mq-max("xl") {
            font-size: 32px;
            gap: 12px;
          }

          @include mq-max("md") {
            font-size: 24px;
          }
        }

        svg {
          width: 48px;

          @include mq-max("md") {
            width: 24px;
          }

          path {
            fill: $benefits-title-color;
          }
        }
      }

      p {
        font-size: 20px;
        font-weight: 200;
        line-height: 120%;
        padding-inline-start: calc(48px + 24px);

        @include mq-max("xl") {
          font-size: 16px;
        }

        @include mq-max("lg") {
          padding-inline-start: 0;
        }

        @include mq-max("md") {
          font-size: 14px;
          letter-spacing: 0.25px;
        }

        .business-days {
          font-size: 16px;

          @include mq-max("xl") {
            font-size: 14px;
          }

          @include mq-max("md") {
            font-size: 12px;
          }
        }
      }

      &.animate {
        opacity: 1;
        filter: blur(0);
      }
    }
  }

  & > .cta-wrapper.lg-screen-and-below {
    @include mq-min("md") {
      align-self: flex-start;
      margin-inline-start: 80px;
    }
  }
}

.plans-section {
  scroll-margin-block-start: -96px;

  @media all {
    @include mq-max("xxl") {
      scroll-margin-block-start: -64px;
    }

    @include mq-max("md") {
      scroll-margin-block-start: unset;
    }
  }

  span[data-title] {
    color: $plans-title-color;
    width: 3.4em;
  }

  .section-headline {
    @include mq-max("xxl") {
      margin-block-end: 64px;
    }
  }

  .plan-options {
    @include row-center(space-between);
    align-items: stretch;
    gap: 32px;

    @include mq-max("xxl") {
      gap: 16px;
    }

    @include mq-max("xl") {
      flex-wrap: wrap;
      gap: 24px;
    }

    @include mq-max("lg") {
      flex-direction: column;
      align-items: center;
    }

    .segment {
      width: 33%;

      @include mq-max("xl") {
        width: unset;
      }

      @include mq-max("lg") {
        width: 80%;
      }

      @include mq-max("md") {
        width: 100%;
      }

      &.last-segment {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq-max("xxl") {
          gap: 16px;
        }

        @include mq-max("xl") {
          gap: 24px;
          width: 100%;
          flex-direction: row;
        }

        @include mq-max("lg") {
          flex-direction: column;
          align-items: center;
        }
      }
    }

    .card {
      background: $grey-dark;
      padding: 32px 24px;

      @include mq-motion-allow {
        opacity: 0;
        scale: 0.96;
        transition: 0.6s ease;

        &:hover,
        &:focus-within {
          scale: 1.03 !important;
          transition: 0.3s ease !important;

          @include mq-max("xxl") {
            scale: 1.02 !important;
          }
        }

        &.animate {
          opacity: 1;
          scale: 1;
        }
      }
    }

    .price-card {
      @include mq-max("xl") {
        flex: 1;
      }

      h3,
      h5 {
        text-transform: uppercase;
      }

      .card-title {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
        font-size: 48px;
        margin-block-end: 16px;

        @include mq-max("xxl") {
          font-size: 32px;
        }

        @include mq-max("xl") {
          font-size: 36px;
        }

        @include mq-max("sm") {
          font-size: 32px;
        }

        .most-popular {
          font-size: 12px;
          font-weight: 700;
          color: $grey-light;

          @include mq-max("xxl") {
            font-size: 10px;
          }

          @include mq-max("xl") {
            font-size: 14px;
          }

          @include mq-max("sm") {
            font-size: 10px;
          }
        }
      }

      .card-price {
        font-size: 36px;

        @include mq-max("xxl") {
          font-size: 24px;
        }

        @include mq-max("xl") {
          font-size: 32px;
        }

        @include mq-max("sm") {
          font-size: 28px;
        }

        .pause-or-cancel {
          font-size: 14px;
          letter-spacing: 0.25px;
          color: $grey-light;
          vertical-align: middle;

          @include mq-max("xxl") {
            font-size: 12px;
          }
        }
      }

      .divider {
        height: 4px;
        border: none;
        margin: 64px 0;

        @include mq-max("xxl") {
          margin: 42px 0;
        }

        @include mq-max("sm") {
          margin: 36px 0;
        }

        &-coral {
          background: $coral;
        }
        &-green {
          background: $green;
        }
      }

      .benefits-title {
        font-size: 24px;
        margin-block-end: 16px;

        @include mq-max("xxl") {
          font-size: 20px;
        }
      }

      .benefits-list {
        @include column-start;
        gap: 16px;
        margin-block-end: 96px;

        @include mq-max("xxl") {
          gap: 12px;
          margin-block-end: 64px;
        }
      }

      .cta-wrapper {
        // accessible keyboard tabbing

        .cta-1 {
          scroll-margin-block-start: 820px;

          @include mq-max("xxl") {
            scroll-margin-block-start: 496px;
          }

          @include mq-max("md") {
            scroll-margin-block-start: 360px;
          }
        }
      }
    }

    .half-card {
      @include column-start;
      justify-content: space-between;
      height: 50%;

      @include mq-max("xxl") {
        &:last-of-type {
          height: 64%;
        }
      }

      @include mq-max("xl") {
        width: 50%;
        height: 124%;

        &:last-of-type {
          height: 124%;
        }
      }

      @include mq-max("lg") {
        width: 80%;
      }

      @include mq-max("md") {
        width: 100%;
      }

      h4 {
        font-size: 24px;
        text-transform: uppercase;
        margin-block-end: 28px;

        @include mq-max("xxl") {
          font-size: 20px;
          margin-block-end: 16px;
        }

        @include mq-max("sm") {
          font-size: 18px;
        }
      }

      .half-card-description {
        font-size: 16px;

        @include mq-max("xxl") {
          font-size: 14px;
          letter-spacing: 0.25px;
        }

        @include mq-max("lg") {
          &:last-of-type {
            margin-block-end: 64px;
          }
        }

        &:last-of-type {
          margin-block-start: -8px;
        }
      }

      .mail-form {
        position: relative;
        width: 100%;
        height: 56px;
        flex-shrink: 0;
        transition: 0.3s ease;

        @include mq-max("xxl") {
          height: 48px;
        }

        &.active {
          translate: 0 -24px;
        }

        &:hover {
          .input {
            border-color: $blue;
          }

          .label {
            color: $grey;
          }

          .submit-btn {
            @include mq-max("sm") {
              scale: 1;
              border: 1px solid $blue;
              translate: 0 -20px;
            }

            svg {
              scale: 0.8;

              path {
                fill: $blue;
              }
            }
          }
        }

        .input,
        .label {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          font-size: 24px;

          @include mq-max("xxl") {
            font-size: 16px;
          }
        }

        .input {
          bottom: 0;
          color: $white;
          background: transparent;
          border: none;
          border-block-end: 2px solid $grey-light;
          border-radius: 0;
          transition: border 0.36s ease;

          &:focus-visible {
            border-color: $blue;
          }
        }

        .label {
          top: 32%;
          color: $grey-light;
          pointer-events: none;
          transition: 0.24s ease;
        }

        .input:focus ~ .label,
        .input:not(:placeholder-shown).input:not(focus) ~ .label {
          transform: translate(0, -68%);
          color: $blue;
          font-size: 16px;

          @include mq-max("xxl") {
            transform: translate(0, -80%);
            font-size: 12px;
          }
        }

        .submit-btn {
          position: absolute;
          top: 50%;
          right: 0;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          translate: 0 -12px;
          transition: 0.4s $cubic-ease-back-dramatic;

          svg {
            width: 32px;
            height: 32px;
            transition: 0.3s ease;

            @include mq-max("xxl") {
              width: 20px;
              height: 20px;
            }

            path {
              fill: $grey-light;
              transition: 0.36s ease;
            }
          }
        }

        .status-message {
          @include row-center(space-between);
          position: absolute;
          bottom: 0;
          translate: 0 148%;
          gap: 12px;
          font-size: 14px;
          opacity: 0;
          pointer-events: none;
          transition: 0.24s ease 0.12s;

          @include mq-max("sm") {
            font-size: 13px;
          }

          .success-icon,
          .error-icon {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            padding: 4px;
            scale: 0.5;
            transition: 0.3s ease 0.24s;
          }

          &.active {
            opacity: 1;
            pointer-events: all;

            .success-icon,
            .error-icon {
              scale: 1.2;
            }
          }
        }

        .success-message {
          color: $green;

          .success-icon {
            border: 1px solid $green;

            path {
              fill: $green;
            }
          }
        }

        .error-message {
          color: $yellow;

          .error-icon {
            border-color: transparent;
            border-radius: 0;
            margin-inline-end: -6px;

            path {
              fill: $yellow;
            }
          }
        }
      }
    }
  }

  .cta-wrapper {
    translate: 16px 0;
    width: unset;
    justify-content: flex-start;
    gap: 0;

    @include mq-max("xxl") {
      translate: 12px 0;
      gap: 12px; // global default restored
    }

    @include mq-max("md") {
      gap: 0;
      translate: 0 0;
    }

    .cta-1,
    .cta-2 {
      @include mq-max("xxl") {
        font-size: 16px;
      }
    }

    .cta-text {
      background: $grey-dark;
    }
  }
}

.faq-section {
  @include column-center;

  span[data-title] {
    color: $faq-title-color;
    width: 2.8em;
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    width: 58%;
    margin: 48px 0 124px;

    @include mq-max("xl") {
      width: 80%;
    }

    @include mq-max("md") {
      width: 100%;
      margin: 48px 0 64px;
    }

    .faq-item {
      position: relative;
      border-block-end: 2px solid $grey;
      margin-block-end: 24px;
      padding-block-start: 42px;
      display: grid;
      grid-template-rows: 0fr;
      transition: all 0.3s ease, margin 0.4s ease;

      &:hover,
      &:focus-within {
        border-color: $faq-title-color;
      }

      @include mq-max("xxl") {
        margin-block-end: 12px;
        padding-block-start: 24px;
      }

      &.active {
        grid-template-rows: 1fr;

        .question {
          .angle-arrow {
            rotate: 180deg;
          }
        }

        .answer {
          opacity: 1;
          pointer-events: all;
          padding: 32px 0 16px;
          translate: 0 0;
          transition: 0.3s ease 0.12s;

          @include mq-max("xxl") {
            padding: 16px 0 8px;
          }
        }
      }
    }

    .question {
      @include row-center(space-between);
      position: absolute;
      top: 0;
      width: 100%;
      padding: 16px 0;
      z-index: 1;

      @include mq-max("xxl") {
        padding: 4px 0;
      }

      h3 {
        color: $white;
        font-size: 20px;
        text-align: left;
        display: flex;
        gap: 12px;
        transition: 0.3s ease;

        @include mq-max("xxl") {
          font-size: 16px;
          gap: 8px;
        }

        @include mq-max("md") {
          font-size: 14px;
          gap: 4px;
        }

        &-indicator {
          width: 24px;
        }
      }

      .angle-arrow-wrapper {
        transition: 0.4s $cubic-ease-back-dramatic;

        .angle-arrow {
          width: 36px;
          height: 36px;
          transition: 0.3s ease;

          @include mq-max("xxl") {
            width: 24px;
            height: 24px;
          }

          path {
            fill: $faq-title-color;
          }

          @include mq-max("sm") {
            width: 2rem;
          }
        }
      }
    }

    .answer {
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
      translate: 0 -24px;
      padding: 12px 0;
      display: flex;
      font-size: 20px;
      transition: 0.2s ease 0s;
      cursor: pointer;

      @include mq-max("xxl") {
        font-size: 16px;
      }

      @include mq-max("md") {
        font-size: 14px;
      }

      .answer-indicator {
        padding-inline-end: 12px;

        @include mq-max("xxl") {
          padding-inline-end: 10px;
        }

        @include mq-max("md") {
          padding-inline-end: 6px;
        }
      }
    }
  }

  .faq-cta {
    @include mq-max("sm") {
      @include column-center;
    }

    .headline-description {
      @include mq-max("md") {
        margin-block-end: 48px;
      }

      @include mq-max("sm") {
        width: 86%;
      }
    }

    .cta-wrapper {
      width: unset;
      justify-content: center;
      gap: 16px;
    }
  }
}

.pre-footer {
  @include column-center;

  .pre-footer-title {
    @include row-center;
    gap: 16px;
    margin-block-end: 40px;

    @include mq-max("md") {
      gap: 12px;
    }

    h2 {
      @include mq-max("md") {
        font-size: 40px;
        margin-block-end: 0;
      }

      @include mq-max("sm") {
        font-size: 28px;
      }
    }

    span {
      font-weight: 900;
    }

    .icon-wrapper {
      height: 40px;
      width: 40px;

      @include mq-max("xxl") {
        width: 36px;
        height: 36px;
      }

      @include mq-max("xl") {
        width: 32px;
        height: 32px;
      }

      @include mq-max("md") {
        height: 24px;
        width: 24px;
      }

      @include mq-max("sm") {
        height: 16px;
        width: 16px;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .headline-description {
    text-align: center;
  }
}
