.policies-page {
  margin: 100px 300px;

  @include mq-max("xl") {
    margin: 100px;
  }

  @include mq-max("lg") {
    margin: 100px 50px;
  }

  @include mq-max("md") {
    margin: 100px 20px;
  }

  span {
    color: $yellow;
  }

  .heading {
    .heading-title {
      display: flex;
      align-items: center;
      gap: 20px;
      padding-bottom: 30px;

      h1 {
        font-family: $primary-font;

        @include mq-max("lg") {
          font-size: 50px;
        }
      }

      svg {
        translate: 0 8px;

        @include mq-max("lg") {
          translate: 0 -6px;
        }
      }
    }

    .header-text {
      @include column-start;
      gap: 26px;
      border-bottom: 3px solid $coral;

      h2 {
        all: unset;
        font-size: 24px;
        text-transform: uppercase;

        @include mq-max("md") {
          font-size: 20px;
        }
      }

      p {
        padding-bottom: 40px;

        @include mq-max("md") {
          font-size: 14px;
        }
      }
    }
  }

  .policies-intro {
    padding: 30px 0;

    @include mq-max("md") {
      font-size: 14px;
    }
  }

  .policies {
    padding: 20px 0;

    .policies-title {
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 14px;
    }

    p {
      font-size: 16px;
      line-height: 120%;

      @include mq-max("md") {
        font-size: 14px;
      }
    }
  }
}
