.policies-page {
  max-width: 1440px;
  margin: 180px auto;

  @include mq-max("xl") {
    margin: 140px auto;
  }

  a {
    color: $yellow;
    text-decoration: none;
  }

  .heading {
    .heading-title {
      display: flex;
      align-items: center;
      gap: 30px;
      padding-bottom: 30px;

      h1 {
        @include title-font;

        @include mq-max("md") {
          font-size: calc(12px + 5.8vw);
        }
      }

      .policies-svg {
        svg {
          width: 64px;

          @include mq-max("lg") {
            width: 40px;
          }

          @include mq-max("md") {
            translate: 0 -6px;
          }
        }
      }
    }

    .header-text {
      @include column-start;
      gap: 26px;
      border-bottom: 3px solid $coral;

      h2 {
        all: unset;
        font-size: 24px;
        text-transform: uppercase;

        @include mq-max("md") {
          font-size: 20px;
        }
      }

      p {
        padding-bottom: 40px;

        @include mq-max("md") {
          font-size: 14px;
        }
      }
    }
  }

  .policies-intro {
    padding: 30px 0;

    @include mq-max("md") {
      font-size: 14px;
    }
  }

  .policies {
    padding: 20px 0;

    .policies-title {
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 14px;
    }

    p {
      font-size: 16px;
      line-height: 120%;

      @include mq-max("md") {
        font-size: 14px;
      }
    }
  }
}
