.tokens-header {
  margin-block: 24px;

  &:first-of-type {
    margin-block: 24px 128px;
  }

  .page-title,
  .page-description {
    text-align: center;
  }

  h2 {
    @include subtitle-font;
  }
}

.table {
  $table-border: 1px solid $grey-light;

  @include column-start;
  border: $table-border;
  margin-block: 48px;

  .table-block {
    display: flex;
    width: 100%;
    border-bottom: $table-border;

    &:first-of-type {
      div {
        font-weight: 700;
        color: $yellow;
      }
    }

    &:last-of-type {
      border: none;
    }

    div {
      padding: 12px;
    }

    &__info {
      flex: 1;
      border-right: $table-border;
    }
    &__details {
      flex: 3;
    }
  }
}
