.tokens-header {
  margin-block: 24px;

  &:first-of-type {
    margin-block: 248px 480px;

    @include mq-max("xxl") {
      margin-block: 264px 396px;
    }

    @include mq-max("xl") {
      margin-block: 196px 320px;
    }
  }

  .page-title,
  .page-description {
    text-align: center;
  }

  .page-title,
  .sub-title {
    margin-block-end: 12px;
  }

  .sub-title {
    @include subtitle-font;
  }
}

.table {
  $table-border: 1px solid $grey-light;

  @include column-start;
  border: $table-border;
  margin-block: 48px;

  .table-block {
    display: flex;
    width: 100%;
    border-bottom: $table-border;

    &:first-of-type {
      div {
        font-weight: 700;
        color: $yellow;
      }
    }

    &:last-of-type {
      border: none;
    }

    div {
      padding: 12px;

      @include mq-max("md") {
        padding: 8px;
      }
    }

    &__info,
    &__details {
      @include mq-max("md") {
        font-size: 13px;
      }
    }

    &__info {
      flex: 1;
      border-right: $table-border;
    }
    &__details {
      flex: 3;

      @include mq-max("md") {
        flex: 5;
      }
    }
  }
}
