.tokens-header {
  margin-block: 24px;

  &:first-of-type {
    margin-block: 248px 480px;

    @include mq-max("xxl") {
      margin-block: 212px 396px;
    }

    @include mq-max("xl") {
      margin-block: 164px 320px;
    }

    @include mq-max("md") {
      margin-block: 180px 356px;
    }
  }

  .page-title,
  .page-description {
    text-align: center;

    .scroll-glitch {
      width: 396px;

      @media all {
        @include mq-max("xxl") {
          width: 332px;
        }

        @include mq-max("xl") {
          width: 264px;
        }

        @include mq-max("md") {
          width: calc(64px + 24vw);
        }
      }
    }
  }

  .page-title,
  .sub-title {
    margin-block-end: 12px;
  }

  .sub-title {
    @include subtitle-font;
  }
}

.table {
  $table-border: 1px solid $grey-light;

  @include column-start;
  border: $table-border;
  margin-block: 48px 196px;

  @include mq-max("md") {
    margin-block: 48px 148px;
  }

  .table-block {
    display: flex;
    width: 100%;
    border-bottom: $table-border;

    &:first-of-type {
      div {
        font-weight: 700;
        color: $yellow;
      }
    }

    &:last-of-type {
      border: none;
    }

    div {
      padding: 12px;

      @include mq-max("md") {
        padding: 8px;
      }
    }

    &__info,
    &__details {
      @include mq-max("md") {
        font-size: 13px;
      }
    }

    &__info {
      flex: 1;
      border-right: $table-border;
    }
    &__details {
      flex: 2.25;

      @include mq-max("md") {
        flex: 5;
      }
    }
  }
}
