@keyframes marquee {
  from {
    translate: 0 0;
  }
  to {
    translate: -50% 0;
  }
}

@keyframes marquee-reverse {
  from {
    translate: -50% 0;
  }
  to {
    translate: 0 0;
  }
}

@keyframes classic-link-default {
  0% {
    right: auto;
    left: 0;
    width: 100%;
  }
  20% {
    right: 0;
    left: auto;
    width: 100%;
  }
  100% {
    right: 0;
    left: auto;
    width: 0;
  }
}

@keyframes classic-link-hover {
  0% {
    right: auto;
    left: 0;
    width: 0;
  }
  80% {
    right: auto;
    left: 0;
    width: 100%;
  }
  100% {
    right: 0;
    left: auto;
    width: 100%;
  }
}

@keyframes background-stripes {
  0% {
    top: 0;
    bottom: auto;
    height: 0;
  }
  4% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
  8% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  12% {
    top: auto;
    bottom: 0;
    height: 0;
  }
  100% {
    top: auto;
    bottom: 0;
    height: 0;
  }
}
