* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $white;
    font-family: 'Archivo', sans-serif;
    font-weight: 300;

    &::selection {
        color: $white;
        background-color: rgba($coral, 0.75);
    }
}

body {
    background-color: $black;
}

header,
main,
footer {
    padding: 24px $content-padding;
    max-width: $content-width;
    margin: auto;

    @include mq-max('md') {
        padding: $content-padding-md;
    }
}

header {
    position: sticky;
    top: 0;
    width: 100vw;
    @include row-between;
    z-index: 3;

    .logo {
        @include row-center;

        p {
            overflow: hidden;
            font-size: 16px;
            font-weight: 900;
            text-transform: uppercase;
            
            @include mq-max('sm') {
                animation: hide-logo 0.36s ease 2s forwards;
            }

            &:first-of-type {
                width: 48px;
            }
            &:last-of-type {
                width: 96px;
            }
        }

        @keyframes hide-logo {
            to {
                width: 0;
            }
        }

        svg {
            margin: 0 4px;
            height: 12px;
        }
    }

    .menu-btn {
        text-transform: uppercase;
        @include row-center;
        gap: 12px;
        cursor: pointer;

        &:hover {
            
            @include mq-min('sm') {
                .menu-btn-text {
                    translate: -12px 0;
                }
            }
        }

        .menu-btn-text {
            transition: 0.3s ease;
            width: 36px;
        }

        .burger {
            position: relative;
            width: 48px;
            height: 48px;
            transition: 0.4s $cubic-ease-back-dramatic, rotate 0.3s ease;

            .burger-line-wrapper {
                @include absolute-center;
                transition: 0.3s ease;
            }

            &-line {
                @include absolute-center;
                width: 28px;
                height: 3px;
                background-color: $white;
                transition: 0.3s ease;

                &:first-of-type {
                    translate: -50% calc(-50% - 4px);
                }

                &:last-of-type {
                    translate: -50% calc(-50% + 4px);
                }
            }
        }

        &.active {

            .burger-line-wrapper {
                rotate: 90deg;
            }

            .burger-line {

                &:first-of-type {
                    translate: -50% -50%;
                    rotate: 45deg;
                }

                &:last-of-type {
                    translate: -50% -50%;
                    rotate: -45deg;
                }
            }
        }
    }
}

section {
    padding: 196px 0;

    @include mq-max('xxl') {
        padding: 124px 0;
    }

    .section-headline {
        text-align: center;

        h2 {
            margin-bottom: 24px;
        }
    }

    .section-description {
        font-size: 16px;
        margin-bottom: 96px;
        
        @include mq-max('md') {
            margin-bottom: 24px;
        }
    }
}

h1,
h2 {
    font-size: 96px;
    text-transform: uppercase;

    @include mq-max('xxl') {
        font-size: 80px;
    }

    @include mq-max('xl') {
        font-size: 64px;
    }

    @include mq-max('md') {
        font-size: 48px;
        margin-bottom: 12px;
    }

    @include mq-max('sm') {
        font-size: 36px;
    }
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.cta-wrapper {
    @include row-between;
    width: 360px;
    
    @include mq-max('md') {
        width: 264px;
    }

    .cta-1,
    .cta-2 {
        @include row-center;
        font-size: 24px;
        text-transform: uppercase;
        
        @include mq-max('md') {
            font-size: 16px;
        }

        .cta-text {
            transition: 0.3s ease, background 0s;
        }

    }

    .cta-1 {

        &:hover, 
        &:focus {

            .ring {
                border-color: $blue;
                translate: -24px 0;

                @include mq-max('md') {
                    scale: 0.8;
                    translate: -12px 0;
                }

                svg {
                    opacity: 1;
                    scale: 1;
                }
            }
            
            .cta-text {
                translate: -12px 0;
                color: $blue;
                background-color: transparent;
            }
        }

        .ring {
            @include row-center;
            border: 2px solid $grey;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            transition: 0.3s ease;

            svg {
                width: 24px;
                height: 24px;
                opacity: 0;
                scale: 0.25;
                transition: 0.3s ease;

                path {
                    fill: $blue;
                }
            }
        }
        .cta-text {
            background-color: $black;
            translate: -24px 0;
            padding: 2px 0;
        }
    }

    .cta-2 {

        .dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $grey;
            margin-right: 12px;
            transition: 0.3s ease;
        }
        
        &:hover,
        &:focus {
            
            .cta-text {
                color: $coral;
                translate: 10px 0;
            }

            .dot {
                scale: 4;
                background-color: $coral;

                @include mq-max('sm') {
                    scale: 1;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

// Custom

.mouse-cursor {
    border: 2px solid $grey;
    // border: 2px solid rgba($white, 0.8);
    position: fixed;
    translate: -50% -50%; // Essential for centering mouse-div
    width: 48px;
    height: 48px;
    border-radius: 50%;
    // transition: 0.6s cubic-bezier(.02,.35,.39,1.12),
    transition: 0.7s cubic-bezier(0,.49,.4,1.19),
    border 0.4s ease,
    width 0.48s ease,
    height 0.48s ease;
    pointer-events: none;
    // z-index: -1;
    // mix-blend-mode: difference;

    @media (hover: none) {
        display: none;
    }

    &.logo-active,
    &.cta1-active,
    &.faq-item-active {
        z-index: 1;
        width: 128px;
        height: 128px;
        border: 0px solid transparent;
    }

    &.cta2-active {
        scale: 0.8;
        border-width: 4px;
        border-color: $white;
        transition: 0.6s cubic-bezier(.02,.35,.39,1.12),
          border 0.4s ease,
          background 0.28s ease 0.5s;
    }

    &.burger-active {
        // background: rgba(grey, 0.5);
        width: 72px;
        height: 72px;
        // filter: blur(2px);
        // backdrop-filter: blur(1px);
        transition: 0.4s cubic-bezier(.02,.35,.39,1.12), border 0.3s ease;
        // z-index: 3;
    }
}

.stripes-bg {
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50% 0;
    height: 100vh;
    width: 92vw;
    z-index: -1;
    display: flex;
    justify-content: space-around;
    z-index: -5;

    .stripe {
        width: 2px;
        height: 100%;
        background-color: rgba($grey-dark, 0.5);
    }
}

.coral-text {
    color: $coral;
}

.blue-text {
    color: $blue;
}

.green-text {
    color: $green;
}

// Utility

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}