.classic-link {
  position: relative;
  display: inline-block;
  line-height: 120%;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $yellow;

    @include mq-motion-allow {
      transition: 0.3s ease;
    }
  }

  &:hover,
  &:focus-visible {
    &::before {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.coral-text {
  color: $coral;

  path {
    fill: $coral;
  }
}

.blue-text {
  color: $blue;

  path {
    fill: $blue;
  }
}

.green-text {
  color: $green;

  path {
    fill: $green;
  }
}

.yellow-text {
  color: $yellow;

  path {
    fill: $yellow;
  }
}

.pink-text {
  color: $pink;

  path {
    fill: $pink;
  }
}

.lowercase-text {
  text-transform: lowercase;
}

.bold-text {
  font-weight: 700;
}

.visually-hidden {
  visibility: hidden;
}

.space {
  padding-inline-start: 0.5ch;
}

.no-wrap {
  white-space: nowrap;
}

// Media query classes - Warning, causing a break in voice assistant speech

.no-motion {
  display: none;

  @include mq-motion-reduce {
    display: block;
  }
}

.lg-screen-and-up {
  display: none;

  @include mq-min("lg") {
    display: flex; // Flex for cta-wrapper
  }
}

.lg-screen-and-below {
  display: none;

  @include mq-max("lg") {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;

  @include mq-min("md") {
    display: flex;
  }
}

.md-screen-and-below {
  display: none;

  @include mq-max("md") {
    display: flex;
  }
}

.sm-screen-and-up {
  display: none;

  @include mq-min("sm") {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;

  @include mq-max("sm") {
    display: flex;
  }
}

// Updated media query classes

.md-screen-and-above {
  display: block;

  @include mq-max("md") {
    display: inline;
  }
}

// Custom

.flip-horizontal {
  rotate: 180deg;
}
