$white: #f0f0f0;
$grey-light: #909090;
$grey: #3d3d3d;
$grey-dark: #1e1e1e;
$black: #101010;

$coral: #e48c66;
$blue: #7ec1d4;
$green: #a4d1a2;
$yellow: #fbfaa2;
$pink: #e1a7b4;

$content-width: 1920px;
$content-padding: 64px;
$content-padding-md: 24px;

$cubic-ease-back-dramatic: cubic-bezier(0.05, 1.75, 0.75, 1.75);

$test: 2px dashed rgba(limegreen, 0.5);
$test-bg: rgba(lightcoral, 0.25);
