@import 'variables.scss',
'mixins.scss',
'globals.scss';

#hero-section {
    padding: 196px 0;
    
    @include mq-max('xxl') {
        padding: 124px 0;
    }

    .headline {
        margin-bottom: 128px;

        @include mq-max('xxl') {
            margin-bottom: 96px;
        }

    
        h1 {
            // see 'h1, h2' in _globals.scss
    
            @include mq-max('md') {
                margin-bottom: 12px;
            }
    
            span {
    
                &:first-of-type {
                    color: $coral;
                }
    
                &:last-of-type {
                    padding-left: 240px;
    
                    @include mq-max('xl') {
                        padding-left: 160px;
                    }
    
                    @include mq-max('md') {
                        padding-left: 0;
                    }
                }
            }
    
        }
    
        p {
            font-size: 14px;
            line-height: 148%;
            color: $white;
            translate: 0 -64px;
            
            @include mq-max('xl') {
                font-size: 12px;
                translate: 0 -48px;
            }
 
                @include mq-max('md') {
 
                translate: 0 0;
                line-height: 112%;
            }
        }
    }

    .cta-wrapper {
        // see  'cta-wrapper' in _globals.scss
        margin-left: 224px;
        
        @include mq-max('xl') {
            margin-left: 96px;
        }

        @include mq-max('md') {
            margin-left: 0;
        }
    }
}

#work-section {

    .marquee {
        overflow: hidden;
        width: 100vw;
        max-width: $content-width;
        translate: calc($content-padding * -1) 0;
        
        @include mq-max('md') {
            translate: calc($content-padding-md * -1) 0;
            }

        &-inner {
            display: flex;
            width: fit-content;
            animation: marquee 24s linear infinite;

            @include mq-max('xl') {
                animation-duration: 18s;
            }

            @include mq-max('sm') {
                animation-duration: 6s;
            }
        }

        @keyframes marquee {
            to {
                translate: -50% 0;
            }
        }

        h2 {
            display: inline-flex;
            gap: 24px;

            @include mq-max('sm') {
                gap: 12px;
            }
        }
    }
}