@import 'variables.scss',
'mixins.scss',
'globals.scss';

#hero-section {
    padding: 196px 0;
    
    @include mq-max('xxl') {
        padding: 124px 0;
    }

    .section-headline {
        text-align: left;
        margin-bottom: 128px;

        @include mq-max('xxl') {
            margin-bottom: 96px;
        }

    
        h1 {
            // see 'h1, h2' in _globals.scss
    
            @include mq-max('md') {
                margin-bottom: 12px;
            }
    
            span {
    
                &:last-of-type {
                    padding-left: 240px;
    
                    @include mq-max('xl') {
                        padding-left: 160px;
                    }
    
                    @include mq-max('md') {
                        padding-left: 0;
                    }
                }
            }
    
        }
    
        p {
            font-size: 14px;
            line-height: 148%;
            color: $white;
            translate: 0 -64px;
            
            @include mq-max('xl') {
                font-size: 12px;
                translate: 0 -48px;
            }
 
                @include mq-max('md') {
 
                translate: 0 0;
                line-height: 112%;
            }
        }
    }

    .cta-wrapper {
        // see  'cta-wrapper' in _globals.scss
        margin-left: 224px;
    
        @include mq-max('xl') {
            margin-left: 96px;
        }
    
        @include mq-max('md') {
            margin-left: 0;
        }
    }
}

#work-section {
    scroll-margin-top: -96px;
    
    @include mq-max('xxl') {
        scroll-margin-top: -24px;
    }

    // See about having this be a global style since there are two marquees on the site.
    // .marquee {
    //     overflow: hidden;
    //     width: 100vw;
    //     max-width: $content-width;
    //     translate: calc($content-padding * -1) 0;
    //     margin-bottom: 248px;
        
    //     @include mq-max('xxl') {
    //         margin-bottom: 96px;
    //     }

    //     @include mq-max('md') {
    //         translate: calc($content-padding-md * -1) 0;
    //     }

    //     &-inner {
    //         display: flex;
    //         width: fit-content;
    //         animation: marquee 16s linear infinite;

    //         @include mq-max('xl') {
    //             animation-duration: 18s;
    //         }

    //         @include mq-max('sm') {
    //             animation-duration: 12s;
    //         }

    //         &:nth-of-type(2) { 
    //             animation-name: marquee-reverse;   
    //         }

    //         h2 {
    //             margin: 0;
    //         }
    //     }

    //     @keyframes marquee {
    //         to {
    //             translate: -50% 0;
    //         }
    //     }

    //     @keyframes marquee-reverse {
    //         from {
    //             translate: -50% 0;
    //         }
    //         to {
    //             translate: 0 0;
    //         }
    //     }

    //     h2 {
    //         display: inline-flex;
    //         gap: 24px;

    //         @include mq-max('sm') {
    //             gap: 12px;
    //         }
    //     }
    // }

    .work-showcase {
        @include row-between;
        margin-bottom: 96px;
        
        @include mq-max('xxl') {
            margin-bottom: 64px;
        }

        @include mq-max('xl') {
            justify-content: center;
            flex-wrap: wrap;
            gap: 4vw;
        }

        &:hover {

            .showcase-link {
                
                @include mq-mouse {
                    opacity: 0.5;
                }
            }
        }

        .showcase-link {
            width: 24%;
            transition: 0.3s ease;
            opacity: 0.75;
                
            &:hover,
            &:focus {
                opacity: 1;
            }
            
            @include mq-touch {
                opacity: 1;
            }

            @include mq-max('xl') {
                width: 47.5%;
            }

            @include mq-max('md') {
                width: 100%;
            }
        }

        .showcase-item {
            aspect-ratio: 3 / 2;

            .showcase-caption {
                margin-top: 8px;
                font-size: 14px;

                @include mq-max('xxl') {
                    font-size: 12px;
                }
            }
        }
    }

    .made-with-care {
        @include row-center;
        font-size: 14px;

        .heart-svg {
            margin-bottom: -1px;
        }        
    }
}

#statement-section {
    @include row-center;
    text-align: center;
    height: 80vh;

    @include mq-max('xl') {
        height: unset;
        padding: 264px 0;
    }
    @include mq-max('sm') {
        height: unset;
    }
    
    h3 {
        font-size: 48px;

        @include mq-max('xxl') {
            font-size: 36px;
        }

        @include mq-max('md') {
            font-size: 20px;
        }

        @include mq-max('sm') {
            font-size: 16px;
        }
    }

}

#benefits-section {
    margin-left: 128px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    @include mq-max('xxl') {
        margin-left: 0;
    }

    @include mq-max('lg') {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .headline-full {
        position: sticky;   
        top: 33%;
        width: 50%;

        @include mq-max('lg') {
            position: static;
            width: 80%;
        }
        
        @include mq-max('md') {
            width: 100%;
        }

        .section-headline {
            text-align: left;
        }
    
        .cta-wrapper {
            margin-left: 64px;
    
            @include mq-max('xl') {
                margin-left: 0;
            }
    
            @include mq-max('md') {
                margin-left: 24px;
            }
        }
    }

    .benefit-list {
        display: flex;
        flex-direction: column;
        gap: 128px;
        width: 54%;
        padding: 128px 0;
        
        @include mq-max('xxl') {
            width: 50%;
        }
        
        @include mq-max('xl') {
            padding: 64px 0 96px;
        }
        
        @include mq-max('lg') {
            width: 80%;
            z-index: -1;
        }

        @include mq-max('md') {
            width: 100%;
            gap: 96px;
        }

        @include mq-max('sm') {
            gap: 64px;
        }
        
        .benefit-block {
            width: 100%;
            max-width: 672px;
    
            h3 {
                font-size: 48px;
                font-weight: 200;
                margin-bottom: 24px;
                display: flex;
                align-items: center;
                gap: 24px;
    
                @include mq-max('xxl') {
                    font-size: 36px;
                    margin-bottom: 12px;
                }
            
                @include mq-max('xl') {
                    font-size: 32px;
                    gap: 12px;
                }
            
                @include mq-max('md') {
                    font-size: 24px;
                }
    
                svg {
                    width: 48px;

                    @include mq-max('md') {
                        width: 24px;
                    }
                }
            }
            
            p {
                font-size: 20px;
                font-weight: 200;
                line-height: 120%;
                padding-left: calc(48px + 24px);
                
                @include mq-max('xl') {
                    font-size: 16px;
                }
    
                @include mq-max('lg') {
                    padding-left: 0;
                }

                @include mq-max('md') {
                    font-size: 14px;
                    letter-spacing: 0.25px;
                }

                .business-days {
                    font-size: 16px;

                    @include mq-max('xl') {
                        font-size: 14px;
                    }

                    @include mq-max('md') {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    & > .cta-wrapper.lg-screen-and-below {
        align-self: flex-start;

        @include mq-min('md') {
            margin-left: 80px;
        }
    }
}

#faq-section {
    @include column-center;

    .faq-list {
        display: flex;
        flex-direction: column;
        width: 58%;
        margin: 48px 0 124px;
        
        @include mq-max('xl') {
            width: 80%;
        }

        @include mq-max('md') {
            width: 100%;
            margin: 48px 0 64px;
        }
        
        .faq-item {
            position: relative;
            border-bottom: 2px solid $grey;
            margin-bottom: 24px;
            padding-top: 42px;
            display: grid;
            grid-template-rows: 0fr;
            transition: all 0.3s ease, margin 0.4s ease;

            &:hover {
                border-color: $green;
            }
            
            @include mq-max('xxl') {
                margin-bottom: 12px;
                padding-top: 24px;
            }

            &.active {
                grid-template-rows: 1fr;
            }
        }

        .question {
            @include row-between;
            position: absolute;
            top: 0;
            width: 100%;
            padding: 16px 0;
            
            @include mq-max('xxl') {
                padding: 4px 0;
            }

            
            h3 {
                color: $white;
                font-size: 20px;
                text-align: left;
                display: flex;
                gap: 12px;
                transition: 0.3s ease;

                @include mq-max('xxl') {
                    font-size: 16px;
                    gap: 8px;
                }

                @include mq-max('md') {
                    font-size: 14px;
                    gap: 4px;
                }
                
                &-indicator {
                    width: 24px;
                }
            }
            
            .angle-arrow-wrapper {
                transition: 0.4s $cubic-ease-back-dramatic;

                .angle-arrow {
                    width: 36px;
                    height: 36px;
                    transition: 0.3s ease;
                    
                    @include mq-max('xxl') {
                        width: 24px;
                        height: 24px;
                    }
    
                    path {
                        fill: $green;
                    }
    
                    &.active {
                        rotate: 180deg;
                    }
    
                    @include mq-max('sm') {
                        width: 2rem;
                    }
                }    
            }

        }

        .answer {
            overflow: hidden;
            opacity: 0;
            pointer-events: none;
            translate: 0 -24px;
            padding: 12px 0;
            display: flex;
            font-size: 20px;
            line-height: 150%;
            transition: 0.2s ease 0s;
            cursor: pointer;
            z-index: -1;

            @include mq-max('xxl') {
                font-size: 16px;
            }

            @include mq-max('md') {
                font-size: 14px;
            }
            
            &.active {
                opacity: 1;
                pointer-events: all;
                padding: 32px 0 16px;
                translate: 0 0;
                transition: 0.3s ease 0.12s;
                
                @include mq-max('xxl') {
                    padding: 16px 0 8px;
                    // padding: 8px 0 4px;
                }
            }

            .answer-indicator {                
                padding-right: 12px;
                
                @include mq-max('xxl') {
                    padding-right: 10px;
                }

                @include mq-max('md') {
                    padding-right: 6px;
                }
            }

            .faq-inner-link {
                text-decoration: underline;

                svg {

                    path {
                        fill: $white;
                    }
                }
            }
        }
    }  

    .faq-headline-cta {
        
        @include mq-max('sm') {
            text-align: left;
        }

        .headline-description {

            @include mq-max('md') {
                margin-bottom: 48px;
            }
        }
    }
}